* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #F4EFE5;
    color: #172923;
    font-family: "IBM Plex Mono", monospace;
}


a {
    color: #172923;
    text-decoration: none;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    a {
        font-weight: 500;
    }


    .logo {
        width: 150px;
    }


    nav {
        display: flex;
        gap: 20px;


        a {
            font-weight: 500;
            font-family: Arial;
        }
    }


    .especial {
        display: inline;

    }
}

.hero {
    display: flex;
    color: #F4EFE5;
    height: 750px;
}

.heroContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #172923;
    width: 55%;
    padding: 170px 0px 0px 120px;

    h1 {
        font-family: "Cormorant Garamond", serif;
        font-size: 90px;

        span {
            font-style: italic;
            color: #E9D9A3;
        }
    }

    p {
        color:#E9D9A3 ;
        font-size: 12px;
    }

    h4 {
        font-family: "Inter", sans-serif;
        font-size: 17px;
        width: 60%;
        margin: 20px 0px 20px 0px;
        font-weight: 200;

    }
}

.conhecaCardapio {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.localizacao {
    p {
        font-size: 12px;

        span {
            color: #B53A27;
        }
    }

}

.heroImage {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9D9A3;

    img {
        width: 85%;
        height: 85%;
        object-fit: cover;
    }
}

.posHero {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #82AEB2;
    color: #172923;
    padding: 20px;
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
    margin-bottom: 100px;
}

.c {
    color: #B53A27;
    font-size: 20px;
}

.content {
    width: 80%;
    margin: auto;

    p {
        font-size: 12px;
        margin-bottom: 20px;
    }
}

.contentCafe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;

}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 33.33%;
    height: 280px;
    border-top: solid 0.5px rgb(193, 193, 193);
    padding-top: 20px;
    padding-left: 20px;

    h3 {
        color: #B53A27;
        font-weight: 300;
        font-size: 15px;
    }

    h2 {
        font-family: "Cormorant Garamond", serif;
        font-size: 45px;
    }

    p {
        font-family: "inter";
        width: 300px;
        font-size: 15px;
        font-weight: 300;
    }

    a {
        text-decoration: underline;
    }
}

.daSemana {
    border-right: solid 0.2px rgb(193, 193, 193);

}

.noBalcao {
    border-right: solid 0.2px rgb(193, 193, 193);

}

section {
    padding-top:150px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E9D9A3;
    padding-bottom: 100px;

    p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    h1 {
        font-family: "Cormorant Garamond", serif;
        font-size: 80px;
        width: 700px;
        text-align: center;
        margin-bottom: 75px;

        span {
            font-style: italic;
            color: #B53A27;
        }
    }

    button{
        width: 250px;
        height: 60px;
        background-color: #172923;
        color: #F4EFE5;
        border: none;

    }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #22362f; 
  color: #f6f3ef;
  padding: 20px 40px;
  font-family: sans-serif;
  font-size: 14px;
}


.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.logo-text {
  font-weight: bold;
  letter-spacing: 2px;
}


.footer-tagline {
  opacity: 0.8;
}

.footer-copyright {
  opacity: 0.8;
}